body {
    background-color: rgba(235, 235, 197, 0.5);
}
.title {
    text-align: center;
    color: darkslategrey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}
.main-page-ul {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18%;
    max-width: 800px;
    height: auto;
}
.desc-para{
    font-family: 'Courier New', Courier, monospace;
}